html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #FFA705, #EA7915);
    height: 100vh;
    text-align: center;
}

#barra {
    background-color: #be0411;
    height: 8vh;
    
}

#container {
  padding: 2.7vh;
  align-items: center;
  display: inline-block;
  padding-top: 2.2vh;
  padding-bottom: 0;
}

#pesquisa {
  align-items: center;
  background: #d9d1c5;
  border-radius: 50px;
  padding: 15px 25px;
  max-width: 34vh;
}

#pesquisa input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.8vh;
  color: #999;
  width: 32vh;
}

.linha {
    background-color: #00914d;
    height: 0.1vh;
    width: 44vh;
    display: inline-block;
    align-items: center;
}

#img-pizza {
    height: 10vh;
    width: 33.5vh;
    border-radius: 2vh;
    margin: 1.5vh;
}

#garfo-e-faca-img {
    height: 3vh;
    margin-top: 0.3vh;
}

#botao-cardapio {
    border-radius: 5vh;
    background-color: #be0411;
    font-family: "Moulpali", sans-serif;
    font-size: 2vh;
    letter-spacing: 0.003vh;
    border-color: black;
    border-style: solid;
    box-shadow: 0px 4px 4.5px rgba(0, 0, 0, 0.3);
}

#texto {
  color: #FFA705;
  -webkit-text-stroke: 0.04vh #be0411;
  font-family: "Moul", sans-serif;
  font-size: 1.7vh;
  font-weight: 900;
  float: left;
  margin-left: 1.5vh;
  margin-bottom: 0;
}

.voltar {
    float: left;
    margin: 1.2vh 0vh 0vh 1.2vh;
    width: 5.4vh;
}

.menu  {
    float: right;
    margin: 1.2vh 1.2vh 0vh 0vh;
    width: 5.4vh;
}


#logo h2 {
    color: white;
    position: absolute;
    bottom: 9.8vh;
    left: 7.6vh;
    font-size: 3.8vh;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.2vh;
}

.borda-texto {
    padding-top: 44.6vh;
    font-size: 3.0vh;
    font-family: "Moul", sans-serif;
    color: #be0411; 
    font-size: 3.59vh;
    font-weight: bold;
    letter-spacing: 0.22vh;

    text-shadow:
    -2px -2px 0 #00914d,
     2px -2px 0 #00914d,
    -2px  2px 0 #00914d,
     2px  2px 0 #00914d;
}

.container-pizza {
    background-color: #be0411;
    margin-top: 6.8vh;
    padding-top: 4px;
    color: white;
    font-family: "Moul", sans-serif;
    border-color: #00914d;
    border-style: solid;
    font-size: 2vh;
    width: 19vh;
}

