
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #FFA705, #EA7915);
    height: 100vh;
    text-align: center;
}

#barra {
    background-color: #be0411;
    height: 8vh;
    
}

#usuario {
    background-color: #be0411;
    height: 30.25vh;
    width: 39vh;
    display: inline-block;
    text-align: center;
    border-radius: 25px;
    border: 0.45vh solid #00914d;
    position: relative;
}

#usuario form {
    margin-top: 3.5vh;
    text-align: left;
    font-family: "Inter", sans-serif;
    margin-left: 1.4vh;
}

#usuario form label {
    color: white;
    font-size: 3vh;
    margin: 1vh 0 0 0.5vh;
    font-weight: 350;
}

#usuario form input {
    width: 33.5vh;
    padding: 1.2vh;
    height: 1.8vh;
    margin-bottom: 1.6vh;
}

#logo1 {
    background-color: white;
    border-radius: 30%;
    border-style: solid;
    border-width: 1vh;
    border-color: white;
    
}

#logo2 {
    background-color: white;
    border-radius: 30%;
    width: 5vh;
    margin-left: 8vh;
    border-style: solid;
    border-color: white;
}

.voltar {
    float: left;
    margin: 1.2vh 0vh 0vh 1.2vh;
    width: 5.4vh;
}

.menu  {
    float: right;
    margin: 1.2vh 1.2vh 0vh 0vh;
    width: 5.4vh;
}

#user {
    background-color: white;
    border-radius: 100%;
    height: 9.2vh;
    position: absolute;
    left: 50%;
    top: -4vh;
    transform: translateX(-50%);
}

#logo {
    height: 22vh;
    width: 22vh;
    background: url('assets/img/logo.png');
    background-size: 22vh;
    display: inline-block;
    border: 4px solid #00914d;
    border-radius: 50%;
    position: relative;
    margin-top: 2.4vh;
    margin-bottom: 6vh;
}

#logo h2 {
    color: white;
    position: absolute;
    bottom: 5.25vh;
    left: 4vh;
    font-size: 2.1vh;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.2vh;
    letter-spacing: 0.1vh;
}

#login {
    margin-top: 4vh;
    padding: 0.6vh 0.6vh;
    font-size: 2.2vh;
    color: white;
    background-color: #be0411;
    border-style: solid;
    border-color: #00914d;
    font-family: "Moul", sans-serif;
    width: 30vh;
}